<h2>Create A Profile</h2>
  <%= form_with(model: @artist, url: artist_path(@artist.id), method: :post, local: true) do |form| %>

  <%= form.label :name %>
  <%= form.text_field :name, placeholder: "Preferred Name" %>
  <br />
  <%= form.label :email %>
  <%= form.email_field :email, placeholder: "Email" %>
  <br />
  <%= form.label :style %>
  <%= form.text_field :style, placeholder: "Style" %>
  <br />
  <%= form.label :bio %>
  <%= form.text_area :bio, placeholder: "Tell us about you" %>
  <br />
  <%= form.label :new_password %>
  <%= form.password_field :new_password, placeholder: "Enter new password" %>
  <br />
  <%= form.label :password_verify %>
  <%= form.password_field :password_verify, placeholder: "Confirm new password" %>
  <br />
  <%= form.submit "Create Profile" %>
  <br />

  <%= link_to "Cancel", :back %>
<% end %>