<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Artist AI Assist</title>
</head>
<body>
    <div class="container mt-5">

        <!-- AI Prompt Section -->
        <div class="ai-prompt-section card">
            <h2>AI Prompt</h2>
            <%= form_for [@artist, ArtistFile.new] do |f| %>
                <div>
                    <h3><%= @style_question %></h3>
                    <%= f.fields_for @artist do |artist_form| %>
                        <%= artist_form.text_field :style %>
                    <% end %>
                </div>
                <div>
                    <h3><%= @goal_question %></h3>
                    <%= f.text_area :goals %>
                </div>
                <br />
                <div>
                    <%= f.submit "Get Prompt", class: 'btn btn-primary' %>
                </div>
            <% end %>
        </div>

        <!-- Collection of Prompts -->
        <div class="collection-of-prompts card">
            <% if @artist_files.count > 0 %>
                <h2>Collection of Ideas</h2>
                <div class="card-group">
                    <% @artist_files.reverse_each.with_index do |artist_file| %>
                        <div class="card">
                            <h4><%= artist_file.style %></h4>
                            <% if artist_file.saved_image.attached? %>
                                <div class="card-img-top">
                                    <%= image_tag artist_file.saved_image, class: 'card-img-top', alt: 'Artwork Image' %>
                                </div><br />
                            <% else %>
                                <div class="card-img-top">
                                    <%= image_tag artist_file.image_url, class: 'card-img-top', alt: 'Artwork Image' %>
                                </div>
                                <a href="<%= artist_file.image_url %>" download="saved_image.png" class="btn download-btn">Download</a><br />
                            <% end %>

                            <!-- Buttons Section -->
                            <div class="d-flex justify-content-center">
                                <%= button_to 'New AI Photo', artist_artist_file_path(@artist, artist_file), method: :patch, params: { fetch_new_image: true }, class: 'btn btn-primary me-2' %>
                                <%= link_to 'Details', artist_artist_file_path(@artist, artist_file), class: 'btn btn-primary mx-2' %>
                            </div><br />

                            <!-- Form Section -->
                            <% unless @artist_files.count > 3 %>
                                <div class="col-md-6">
                                    <div class="d-flex justify-content-end align-items-center">
                                        <%= form_with(model: [@artist, artist_file], local: true, data: { turbo: false }) do |form| %>
                                            <%= form.file_field :saved_image, class: 'form-control' %>
                                            <%= form.submit 'Upload Image', class: 'btn btn-primary mt-2' %>
                                        <% end %>
                                    </div>
                                </div>                        
                            <% end %>

                            <!-- Card Body Section -->
                            <br />
                                <div class="card-body">
                                <% unless @artist_files.count >=5 %>
                                    <% if @artist_files.count <= 2 %>
                                        <div><strong>Created:</strong> <%= artist_file.created_at.strftime("%B %d, %Y") %></div>
                                        <br />
                                        <div><strong>Goals:</strong> <%= artist_file.goals %></div>
                                        <br />
                                        <div>
                                            <strong>Action Steps:</strong>
                                            <p><%= @markdown&.render(artist_file.action_steps)&.html_safe %></p>
                                        </div>
                                        <br />
                                        <div>
                                            <% if artist_file.resources.present? %>
                                                <div>
                                                    <% parsed_resources = JSON.parse(artist_file.resources) %>
                                                    <strong>Resources:</strong><% parsed_resources.each do |resource| %>
                                                        <p><%= @markdown&.render(resource)&.html_safe %></p>
                                                    <% end %>
                                                </div>
                                            <% end %>
                                        </div>
                                        <br />
                                    <% elsif @artist_files.count > 2 && @artist_files.count <= 4 %>
                                        <h4>Resources</h4>
                                        <% parsed_resources = JSON.parse(artist_file.resources) %>
                                        <% parsed_resources.each do |resource| %>
                                            <%= @markdown.render(resource.scan(/\[(.*?)\]\((.*?)\)/).map { |text, url| "[#{text}](#{url})" }.join("\n")).html_safe %>
                                        <% end %>
                                    <% end %>
                                    <br />
                                    <br />
                                <% end %>
                                </div>
                                <div class="d-flex justify-content-center align-items-center">
                                    <%= button_to "Delete", artist_artist_file_path(@artist, artist_file), method: :delete, data: { turbo: false, confirm: 'Are you sure?' }, class: 'btn btn-danger' %><br />
                                </div>
                            </div>

                    <% end %>
                </div>
            <% end %>
        </div>
    </body>
</html>
