<!DOCTYPE html>
<html>
  <head>
    <title>ArtistAssist</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>

        <% if flash.any? %> 
          <% flash.each do |type, msg| %>
              <% if type == "success" %>
                  <div class="alert alert-success" role="alert">
                      <%= msg.html_safe %>
                  </div>
              <% elsif type == "info" %>
                  <div class="alert alert-info" role="alert">
                      <%= msg.html_safe %>
                  </div>
              <% elsif type == "warning" %>
                  <div class="alert alert-warning" role="alert">
                      <%= msg.html_safe %>
                  </div>
              <% elsif type == "danger" %>
                  <div class="alert alert-danger" role="alert">
                      <%= msg.html_safe %>
                  </div>
              <% end %>
          <% end %>
      <% end %>
    <%= yield %>
  </body>
</html>
